<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bread & Circuits</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/combined.min.css') }}">

    <!--Import jQuery before materialize.js-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/materialize/bin/materialize.min.js') }}"></script>
</head>

<body class="body">
    <nav class="index">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><i class="large mdi-image-remove-red-eye"></i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="">About</a>
                </li>
                <li><a href="">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container intro">
        <div class="row">
            <div class="col s12">
                <h2>Verbs to live by.</h2>
            </div>
        </div>
    </div>

    <div class="container verbs">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div id="{{ url_for('index_bp.code') }}" class="card-panel code-panel">
                    <h4>Code</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div id="{{ url_for('index_bp.read') }}" class="card-panel read-panel">
                    <h4>Read</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div id="{{ url_for('index_bp.drink') }}" class="card-panel drink-panel">
                    <h4>Drink</h4>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer">
        <div class="footer-copyright">
            ©2014 ToothBrush_Bear
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/button_activate.js') }}"></script>
</body>

</html>